__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
my_venv/
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
.pytest_cache
.mypy_cache
.git
.gitignore
.dockerignore
.env
.env.local
.DS_Store
notebooks/
*.ipynb
.vscode/
.idea/
test_endpoints.py
*.md
.github/
